<div class="address">
  <div class="address-search">
    <div class="_3Um38 _2oQ4_">
      <input
        type="text"
        class="_381fS _1oTLG _3BIgv"
        value=""
        name="location"
        id="autocomplete"
        autocomplete="off"
        tabindex="1"
        placeholder="Enter your delivery location"
        maxlength="60"
      />
      <div class="_2EeI1 _26LFr"></div>
      <label class="_1Cvlf _2tL9P" for="location"></label>
    </div>
    <div class="_1fiQt">
      <img
        class="_25lQg"
        src="https://img.icons8.com/fluency-systems-filled/48/000000/define-location.png"
      />
      <span class="LukWG">Locate Me</span>
    </div>
  </div>
  <a class="_3iFC5">
    <span>FIND FOOD</span>
  </a>
</div>
