.container-fluid {
  width: 80% !important;
  margin-left: 0 !important;
}
#locate {
  text-align: end;
  margin-right: 5%;
  cursor: pointer;
  font-weight: 600;
}
.locate-img {
  height: 1.2rem;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 18vh;
}
.main {
  height: 100vh;
}
#map {
  width: 0;
  height: 0;
  background-color: transparent;
  display: hidden;
}
#search-box {
  padding-left: 20px;
  padding-top: 20px;
  width: 120%;
  height: 70px;
  color: black;
  text-align: initial;
  text-shadow: none;
}
.leaflet-locationiq-expanded {
  width: 80% !important;
}
#result {
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  height: 100px;
}
.leaflet-locationiq-results {
  padding-top: 45px;
  top: 45px !important;
}
.leaflet-locationiq-expanded {
  width: 80%;
}
/* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
li {
  line-height: 28px;
}
body {
  margin: 0;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.space-between {
  justify-content: space-between;
}
.cover-container {
  max-width: 60vw;
}
.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}
.lead {
  font-weight: 500;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.nav-link.active {
  color: white;
  border-bottom-color: white;
}
.btn-danger {
  color: #fff;
  padding: 0.2rem 0.5rem 0 0.5rem;
}
#find {
  width: 20%;
  padding: 0.5rem;
  font-size: 1.1rem;
  margin-top: 7rem;
}
.btn-danger:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}
.page-section {
  background-image: none;
  background-color: #fff;
}
.page-section a:hover {
  color: #333 !important;
}
.cs-page-sec-879199 {
  margin-top: 0px;
  padding-top: 70px;
  padding-bottom: 40px;
  margin-bottom: 0px;
  background: #f2f6fb;
  color: black;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.cs-spreator.fancy .cs-seprater {
  background: none;
  height: auto;
  margin: 0;
}
.element-title {
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
  text-shadow: none;
}
.element-title p {
  color: #333;
}
.cs-icon-boxes-list.classic-view {
  margin: 0 -41px;
}
.cs-icon-boxes-list {
  overflow: hidden;
}
.cs-icon-boxes-list [class*="col-"] {
  position: relative;
  counter-increment: mega-step;
}
.icon-boxes.classic {
  background: #fff;
  padding: 20px 0px 75px;
  border-radius: 20px;
  position: relative;
  height: 22rem;
  width: 20rem;
  margin: 4px 40px 30px;
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.icon-boxes.top-center {
  text-align: center;
}
.icon-boxes.classic .img-holder {
  float: none;
}
.icon-boxes.top-center .img-holder,
.icon-boxes.top-right .img-holder,
.icon-boxes.top-left .img-holder {
  margin: 0 0 20px;
  width: 100%;
}
.icon-boxes.classic:before {
  background-color: #e7ecee;
  border-radius: 100%;
  font-size: 16px;
  color: #aaa;
  content: counter(mega-step);
  position: absolute;
  bottom: 20px;
  left: 50%;
  height: 35px;
  line-height: 35px;
  width: 35px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
figure {
  margin: 0;
  position: relative;
}
.icon-boxes.classic .text-holder:before {
  background: #f2f6fb;
  content: "";
  position: absolute;
  left: -12px;
  bottom: 78px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-box-shadow: -2px 0 0 rgb(0 0 0 / 10%) inset;
  box-shadow: -2px 0 0 rgb(0 0 0 / 10%) inset;
}
.icon-boxes.classic .text-holder h3 a {
  text-decoration: none;
  text-shadow: none;
  font-size: 1.5rem;
}
.icon-boxes.classic .text-holder span {
  text-decoration: none;
  text-shadow: none;
  color: #a1a3aa;
  font-size: 14px;
  line-height: 22px;
}
.icon-boxes.classic .text-holder:after {
  left: auto;
  right: -12px;
  background: #f2f6fb;
  content: "";
  position: absolute;
  bottom: 78px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 0 0 rgb(0 0 0 / 10%) inset;
  box-shadow: 2px 0 0 rgb(0 0 0 / 10%) inset;
}
hr {
  display: block;
  position: relative;
  width: 18.5rem;
  left: 4%;
  border: none;
  border-bottom: 1px dashed currentColor;
  background-color: white;
}
.icon-boxes.classic:after {
  font-size: 36px;
  color: #ccc;
  position: absolute;
  right: -28%;
  top: 50%;
  content: "\1F852";
  font-family: "icomoon";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cs-page-sec-201018 {
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 40px;
  margin-bottom: 0px;
  background: url(http://foodbakery.chimpgroup.com/foodstop/wp-content/uploads/banner-img.jpg)
    no-repeat center / cover;
}
.element-title.align-left {
  text-align: left;
}
.location-holder.fancy {
  border: none;
  background: none;
}
.location-holder {
  background-color: #fff;
  padding: 22px 13px 0;
  border: 1px solid #ced3d9;
  text-align: left;
}
.location-holder.fancy [class*="col-"]:nth-child(even) .location-list {
  background: #f7f7f7;
}
.location-holder.fancy ul.location-list {
  border-left: 1px solid #e7e7e7;
  margin: 0 -20px 24px;
  padding: 15px 0 15px 40px;
}
.location-holder.fancy [class*="col-"]:nth-child(odd) .location-list {
  background: #fff;
}

.location-holder.fancy [class*="col-"]:first-child .location-list {
  border-left: 0;
}
.location-holder.fancy ul.location-list {
  border-left: 1px solid #e7e7e7;
  margin: 0 -20px 24px;
  padding: 15px 0 15px 40px;
}
.location-holder ul.location-list {
  padding: 0;
  margin: 0 0 24px;
}
.location-holder ul.location-list li {
  list-style: none;
  padding: 0;
  margin: 0 0 7px;
  display: block;
  color: #333333;
  text-align: left;
  text-shadow: none;
}
li {
  line-height: 28px;
}
.location-holder.fancy .more-btn-holder {
  padding-top: 30px;
}
.location-holder .more-btn-holder {
  padding-top: 8px;
  text-align: center;
}
.location-holder a.more-btn {
  display: inline-block;
  padding: 9px 25px;
  margin: 0 0 34px 0;
  outline: none;
  text-decoration: none;
  color: #fff;
  background-color: #c33332;
  border-radius: 40px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #333;
  outline: none;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#footer {
  background: #282c35;
}
#footer.footer-style-3 .footer-widget {
  padding-bottom: 0;
}

#footer .footer-widget {
  background-color: #282c35 !important;
}
.footer-widget {
  padding: 66px 0 40px;
}
#footer.footer-style-3 .widget,
#footer.footer-style-3 .widget p,
#footer.footer-style-3 .widget a {
  font-weight: 600 !important;
}
#footer .widget-title {
  margin-bottom: 30px;
  padding: 0;
  position: relative;
}
#footer .footer-widget a,
#footer .cs-footer-widgets a i,
#footer .footer-widget .widget ul li span,
#footer .footer-widget .widget ul li i,
#footer
  .widget.widget-related-post
  .related-post-holder.classic
  .text-holder
  span,
#footer .textwidget {
  color: #cdcdcd !important;
}
.widget.widget_text .textwidget img {
  width: 100%;
  margin-bottom: 10px;
}

img.alignnone,
.alignnone img,
.wp-caption.alignnone {
  width: 100% !important;
}
.alignnone {
  height: auto;
  margin-bottom: 30px;
}
.footer-style-3 .social-media {
  margin-bottom: 0;
  margin-left: auto;
  line-height: normal;
}
.footer-style-3 .social-media li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-left: 15px;
}
.widget ul li {
  list-style: none;
}

.widget-top-cities ul li {
  list-style: none;
  margin-bottom: 5px;
}
#footer.footer-style-3 .widget-connect ul li {
  padding-left: 55px;
}
.widget-connect ul li {
  position: relative;
  padding-left: 53px;
  margin-bottom: 10px;
  display: block;
}
#footer.footer-style-3 .widget-connect ul li span {
  height: 40px;
  border-radius: 100%;
  width: 40px;
}
.widget-connect ul li span {
  color: #fff;
  background: #c33332;
  border-radius: 4px;
  font-size: 20px;
  width: 34px;
  text-align: center;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
#footer .copyright-sec,
#footer.modern-v1 .cs-copyright {
  background-color: #282c35 !important;
}
.footer-style-3 .copyright-inner {
  border-top: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footer-style-3 .footer-logo {
  margin-right: 18px;
}
.footer-style-3 .copy-right {
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
}

.copy-right {
  display: block;
  padding: 26px 0 0;
  text-align: center;
  margin-bottom: 60px;
}
.footer-style-3 .social-media {
  margin-bottom: 0;
  margin-left: auto;
  line-height: normal;
}
.footer-style-3 .social-media li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-left: 15px;
}
.footer-style-3 .social-media li a {
  background: none;
  font-size: 20px;
  color: #b8b8b8;
}
