.container-fluid {
  width: 80% !important;
  margin-left: 0 !important;
}
#locate {
  text-align: end;
  margin-right: 5%;
  cursor: pointer;
}
.locate-img {
  height: 1.2rem;
}
body {
  margin: 0;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 18vh;
}
#map {
  width: 0;
  height: 0;
  background-color: transparent;
  display: hidden;
}
#search-box {
  padding-left: 20px;
  padding-top: 20px;
  width: 120%;
  height: 70px;
  color: black;
  text-align: initial;
  text-shadow: none;
}
.leaflet-locationiq-expanded {
  width: 80% !important;
}
#result {
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  height: 100px;
}
.leaflet-locationiq-results {
  padding-top: 45px;
  top: 45px !important;
}
.leaflet-locationiq-expanded {
  width: 80%;
}
/* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
body {
  margin: 0;
  height: 100vh;
  background-image: url("https://p.w3layouts.com/demos/21-03-2016/cookery/web/images/2.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.space-between {
  justify-content: space-between;
}
.cover-container {
  max-width: 60vw;
}
.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.nav-link.active {
  color: white;
  border-bottom-color: white;
}
.btn-light:hover {
  background-color: #e6e6e6;
  color: #000;
}
.btn-danger {
  color: #fff;
  padding: 0.2rem 0.5rem 0 0.5rem;
}
.btn-danger:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}
