#loading {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 35%;
  border: 3px solid rgb(255 0 0 / 30%);
  border-radius: 50%;
  border-top-color: #f90707;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.height {
  height: 10vh;
}
.restaurant {
  background-color: black;
}
.restaurantData {
  padding: 1.5rem;
  margin-bottom: 2rem;
}
.active {
  color: rgb(255, 255, 0);
}
.rating {
  margin-bottom: 1rem;
}
.timing {
  font-size: 1.1rem;
  color: rgb(79, 79, 79);
}
.nav-item-link {
  display: flex !important;
  align-items: center;
  color: #fff !important;
  margin-right: 1rem !important;
  border: 1px solid white;
  margin-top: 0.2rem;
  border-radius: 2rem;
  max-height: 80%;
}
.direction-link {
  display: flex !important;
  align-items: center;
  color: black !important;
  margin-right: 1rem !important;
  width: 38%;
  margin-top: -2rem;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 2rem;
}
.none {
  display: none !important;
}
.direction {
  color: #ed8598;
}
#navbar {
  height: 3rem;
  margin-top: -1.5rem;
  border-radius: 0.5rem;
  background: rgb(174, 14, 95);
  background: linear-gradient(
    90deg,
    rgba(174, 14, 95, 1) 0%,
    rgba(251, 78, 78, 1) 100%
  );
}
.about {
  justify-content: space-between;
}
#display {
  display: flex;
  justify-content: space-around;
  color: white;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 1rem;
}
h4 {
  font-weight: 400 !important;
}
h5 {
  font-weight: 400 !important;
}
.food_details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.food_img > img {
  height: 7rem;
  width: 10rem;
  border-radius: 1rem;
}
.right-panel {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1250px) {
  .right-panel {
    margin-right: 5rem;
  }
  .menu {
    width: 120%;
  }
}
.cuisine {
  border: 1px solid rgb(207, 207, 207);
  box-shadow: rgb(54 54 54 / 6%) 0px 1px 2px;
  border-radius: 2rem;
  padding: 0.5rem;
  display: inline-flex;
  margin: 0px 1rem 1rem 0px;
  color: rgb(17, 145, 153);
  font-size: 1rem;
  line-height: 1.2;
}
.number {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0.5rem 0px 0px;
  color: rgb(255, 126, 139);
}
.dish {
  color: rgb(79, 79, 79);
  font-size: 1.1rem;
}
.veg > img {
  height: 1.2rem;
  margin-left: 0.5rem;
}
.non_veg > img {
  height: 1.2rem;
  margin-left: 0.5rem;
}
.food_name {
  margin-left: 1rem;
}
.food_name > p {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
  opacity: 0.8;
}
.food_name > p > img {
  height: 1rem;
}
.best_seller {
  height: max-content;
  width: max-content;
  background: rgb(224, 53, 70);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  border: none;
  opacity: 0.9;
  padding: 0.2rem 0.3rem;
}
.avg_cost > p > img {
  height: 1.3rem;
}
.food_button {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 5rem;
  height: 2.4rem;
  border: 0.5px solid rgb(239, 79, 95);
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  background: rgb(255, 246, 247);
}
.add_button {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.add_text {
  color: rgb(239, 79, 95);
  font-size: 1rem;
  margin: 0px 0.5rem;
  font-weight: 600;
}
.plus_logo {
  margin-top: 0.2rem;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: inherit;
}
