<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodMania</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container-fluid">
    <%- include('./partials/homeNav.ejs') %>
    <h5>View poopular restaurants or Order online on FoodMania</h5>
    <div class="address">
      <div class="address-search">
        <div class="_3Um38 _2oQ4_">
          <input type="text" class="_381fS _1oTLG _3BIgv" value="" name="location" id="autocomplete" autocomplete="off" tabindex="1" placeholder="Enter your delivery location" maxlength="60">
          <div class="_2EeI1 _26LFr"></div>
          <label class="_1Cvlf _2tL9P" for="location"></label>
        </div>
        <div class="_1fiQt">
          <img class="_25lQg" src="https://img.icons8.com/fluency-systems-filled/48/000000/define-location.png"/>
          <span class="LukWG">Locate Me</span>
        </div>
      </div>
      <a class="_3iFC5">
        <span>FIND FOOD</span>
      </a>
    </div>
  </div>
  <script>
    let autocomplete;
     
    function initAutocomplete() {
     autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'), {
      types: ['establishment'],
      componentRestrictions: {
       'country': ["AU"]
      },
      fields: ['place_id', 'geometry', 'name']
     });
      
     autocomplete.addListener('place_changed', onPlaceChange);
    };
    function onPlaceChange() {
      let place = autocomplete.getPlace();

      if(!place.geometry) {
        document.getElementById('autocomplete').placeholder = 'Enter a location'
      } else {
        document.getElementById('details').innerHTML = place.name;
      }
    }
  </script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAba2w5oORXZehWxezJ49jk1ZC0yPJU6Gs&libraries=places&callback=initAutocomplete" async defer>
  </script>
</body>
</html>