.address {
  display: flex;
  position: relative;
  width: 60%;
  margin-top: 35px;
}
.address-search {
  position: relative;
  -ms-flex: 1;
  flex: 1;
}
._2oQ4_ {
  padding: 0 5px;
  border: 1px solid #bebfc5;
  box-shadow: none;
}
._3Um38 {
  border: 1px solid #d4d5d9;
  padding: 0;
  display: block;
  position: relative;
  transform: translateZ(0);
}
._3BIgv {
  height: 58px !important;
  line-height: 28px !important;
  padding-top: 0 !important;
  padding-left: 15px !important;
  padding-right: 160px !important;
  caret-color: #fc8019;
  font-size: 18px !important;
  font-weight: 500;
}
._1oTLG {
  height: 50px;
  padding-top: 0;
  font-size: 1.15rem;
}
._381fS {
  background-color: transparent;
  line-height: normal;
  border: none;
  outline: none;
  height: 70px;
  width: 100%;
  font-size: 17px;
  margin: 0;
  padding: 0 20px;
  padding-top: 22px;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
._26LFr {
  -ms-transform: translateY(70%);
  transform: translateY(70%);
}
._2EeI1 {
  position: absolute;
  right: 20px;
  bottom: 26px;
  font-size: 14px;
  font-weight: 500;
  color: #5d8ed5;
  transform: translateZ(0);
  cursor: pointer;
  will-change: transform;
  transition: 0.2s ease;
}
._2tL9P {
  font-size: 12px;
  font-weight: 500;
  color: #7e808c;
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}
._1Cvlf {
  position: absolute;
  left: 0;
  bottom: 24px;
  padding-left: 20px;
  line-height: 20px;
  font-size: 17px;
  cursor: text;
  transition: 0.2s ease;
  width: 100%;
  color: #93959f;
  will-change: transform, color, font-size;
  pointer-events: none;
  font-weight: 400;
}
._1fiQt {
  color: #535665;
}
._1fiQt,
.NqZN6 {
  position: absolute;
  right: 150px;
  top: 10px;
  padding: 12px 10px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: -0.35px;
}
._25lQg {
  margin-right: 6px;
  top: 2px;
  height: 1.2rem;
  position: relative;
  margin-bottom: 6px;
}
.LukWG {
  padding-top: 0;
}
._3iFC5 {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: none;
  line-height: 50px;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  padding: 0 2rem;
  color: #fc8019;
  letter-spacing: 0;
  color: #fff;
  background-color: #fc8019;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
  right: 0;
  height: 60px;
  line-height: 60px;
  width: 140px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.53px;
  padding: 0;
}

._1b8uz,
._3iFC5 {
  position: absolute;
  z-index: 1;
}
